$pragmatica: 'PragmaticaExtended';

.blog-card {
    display: block;
    &__date {
        margin-bottom: 0.1rem;
    }
    &__image {
        max-width: 100%;
    }
    &__title {
        line-height: 1;
    }
    p {
        font-family: $pragmatica;
        line-height: 1.333;
        text-transform: none;
        letter-spacing: 0.02rem;
    }
}

