.concert-board {
  top: 64px;
  position: sticky;

  &__block {
    padding-top: 12px;
    padding-bottom: 19px;
    border-bottom: 1px solid #fff;
    margin: 0;

    &--badges {
      font-size: $font-size-base;
      min-height: 138px;
    }

    &--about {
      display: flex;
      flex-flow: row wrap;
    }

    &--buttons {
      padding-top: 24px;
      border-bottom: none;
    }
  }

  &__heading{
    @media (max-width: 940px) {
      font-size: 3rem;
    }
  }

  &__city {
    flex-grow: 1;
  }

  &__place {
    width: 100%;
    text-align: right;
    color: rgba($body-color, .4);
  }

  &__form {
    display: flex;
  }

  &__label {
    margin-right: 24px;
  }

  &__radio {

  }

  &__ticket-count {

  }

  &__price {
    margin-left: auto;
  }

  &__play {
    font-family: sans-serif;
  }
}
