<div class="search js-search">
    <div class="container search__container">
        <div class="row no-gutters">
            <div class="col col-md-2">
            </div>
        </div>
    </div>
</div>