.blog-page {
	&__content {
		padding-top: 8rem;
	}
	&__date {
		line-height: 1;
		letter-spacing: -0.3px;
	}
	&__title {
		line-height: 1;
	}
	&__descr {
		margin-bottom: 3.5rem;
		@extend %blogDescr;
	}
	&__link {
		color: $contrast;
	}
	.blog-card {
		margin-bottom: 5rem;
	}
	&__blogs {
		padding-bottom: 11rem;
	}
}

.blog-inner-page__content {
	padding: 9.5rem 0 1rem;
}
