{% macro makeBlogCard(props) %}
    <a href="#" class="blog-card">
        <img class="blog-card__image" src="assets/imgs/{{props.image}}" alt="blog-image"/>
        <div class="blog-card__date mt-3 mb-1">{{props.date}}</div>
        <h2 class="blog-card__title mb-3">{{props.title}}</h2>
        <p>{{props.descr_short}}</p>
    </a>
{% endmacro %}

{% macro makeBlogArticle(props) %}
    <section class="blog-article">
        <div class="blog-article__date mt-3 mb-1">{{props.date}}</div>
        <h2 class="blog-article__title mb-3">{{props.title}}</h2>
        <div class="blog__descr">{{props.descr}}</div>
        <img class="blog-card__image" src="assets/imgs/{{props.image}}" alt="blog-image"/>
        <p>{{props.descr_short}}</p>
    </section>
{% endmacro %}